@import "../../../../node_modules/materialize-css/sass/materialize"

body
  margin: 0
  width: 300px

.controls-navbar
  background-color: white !important
  margin-bottom: 20px

#volume
  padding: 16px 24px

// #controls
//   background-color: white
//   & > div
//     margin: 0
  // padding-top: 10px
  // #volume
  //   float: right
  //   padding: 15px 15px

// #track
//   p
//     font-size: 14px
