@import "../../../../node_modules/materialize-css/sass/materialize"

body
  margin: 0
  width: 300px

.row
  margin-bottom: 0

// Controls

.controls-navbar
  background-color: white !important
  margin-bottom: 6px

  #volume
    padding: 16px 24px

// Track

.cover
  width: 300px
  height: 300px

.track-info
  padding: 10px 20px !important
  h5
    margin: 0

.caption
  font-size: 1.20rem
  font-weight: 300
