@import "../../../../node_modules/materialize-css/sass/materialize"

body
  margin: 0
  width: 300px

#controls
  padding-top: 10px
  #volume
    float: right
    padding: 15px 15px

#track
  p
    font-size: 14px
